/* styles.css */

/* Default (Desktop) */
.reportview-container .main .block-container {
    max-width: 95%;
    padding: 2rem;
}

/* Mobile devices */
@media screen and (max-width: 768px) {
    .reportview-container .main .block-container {
        max-width: 100%;
        padding: 1rem;
    }
}


#MainMenu {visibility: hidden;}
header {visibility: hidden;}
footer {visibility: hidden;}


body {
    direction: rtl;
    text-align: right;
}

.expander {
    background-color: lightgray;
}

.expander > div > h2 {
    color: red;
    font-weight: bold;
}